@media only screen and (max-width: 1170px) {

.container{
    margin: auto;
    width: 970px;
}
.header h1{
    font-size: 40px;
    text-align: center;
    color: #282828;
    font-family: 'DINPro';
}
.header-content{
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 130px;
}
.main-block{
    background-color: #e7e7e7;
    padding-top: 25px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    width: 440px;
    height: 220px;
    border-radius: 100px;
}
.main-block h2{
    margin-top: -20px;
    font-size: 20px;
    color: #282828;
}
#modalBtn{
    padding-top: 60px;
}
footer{
    margin: auto;
    width: 100%;
    height: 695px;
    background-image: url(../img/footer-fon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-top{
    padding-top: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.footer-top h1{
    width: 250px;
    font-size: 45px;
    color: #282828;
    font-family: 'DINPro';
}
.footer-top img{
    width: 410px;
}
.about-content{
    width: 670px;
}
.wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.about-content h5{
    color: #282828;
    font-size: 25px;
    font-family: 'DINPro';
}
.about-content h6{
    margin-top: 15px;
    margin-bottom: 5px;
    color: #718691;
    font-size: 22px;
}
.li-content {
    height: 25px;
    width: 220px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.li-content img{
    width: 10px;
    height: 10px;
    margin-right: 18px;
}
.li-content li{
    color: #718691;
    font-size: 20px;
}
.logos img{
    width: 80px;
}.logos img:last-child{margin-left: 20px;}

.footer-bot{
    border-radius: 10px;
    background-repeat: no-repeat;
    background: linear-gradient(90deg,#f8f8f8,#f8f8f8,#badffd);
    position: absolute;
    top: 870px;
    padding: 35px 0px 0px 20px;
    width: 800px;
    height: 240px;
}
.footer-bot h1{
    color: #282828;
    font-size: 25px;
    font-family: 'DINPro';
}
.footer-flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.footer-flex ul:last-child{margin-left: 60px;}
.footer-flex img{
    margin-right: 15px;
    width: 10px;
}
.footer-flex li{
    height: 15px;
    margin-top: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    color: #a6a6a6;
    font-size: 18px;
}
.position-img{
    position: absolute;
    top: -40px;
    right: -220px;
    height: 350px;
    width: 600px;
    overflow: hidden;
}
#modalWindow{
    transition: 0.5s;
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 80%;
    z-index: 50;
}
#modalContent{
transition: 0.2s;
top: -800px;
position: fixed;
width: 700px;
height: 330px;
background-image: url(../img/modal.png);
background-repeat: no-repeat;
border-radius: 30px;
left: 50%;
transform: translateX(-50%);
z-index: 60;
padding: 50px 20px 0px 250px;
background-position: top;
}

#modalContent h1{
    color: #fff;
    font-size: 20px;
    font-family: 'DINPro';
}
#modalContent p{
    font-size: 16px;
    font-family: 'DINPro';
    color: #8fa0b4;
    margin-top: 10px;
}
.flex-modal{
    height: 50px;
    margin-top: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.href-modal{
    padding: 10px 20px;
    background-color: #fff;
    color: #2200ff;
    font-size: 25px;
    border-radius: 25px;
    text-align: center;
}
.flex-modal2{
    height: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    color: #5fbab3;
    font-size: 20px;
}.flex-modal2 img{height: 18px;margin: 5px 0px 0px 8px;}



}