@media only screen and (max-width: 1400px) {

.container{
    margin: auto;
    width: 1170px;
}
.header h1{
    font-size: 40px;
    text-align: center;
    color: #282828;
    font-family: 'DINPro';
}
.header-content{
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 130px;
}
.main-block{
    background-color: #e7e7e7;
    padding-top: 25px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 265px;
    border-radius: 150px;
}
.main-block h2{
    margin-top: 0px;
    font-size: 25px;
    color: #282828;
}
#modalBtn{
    padding-top: 60px;
}
footer{
    margin: auto;
    width: 100%;
    height: 950px;
    background-image: url(../img/footer-fon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-top{
    padding-top: 130px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.footer-top h1{
    width: 250px;
    font-size: 55px;
    color: #282828;
    font-family: 'DINPro';
}
.footer-top img{
    width: 510px;
}
.about-content{
    width: 770px;
}
.wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.about-content h5{
    color: #282828;
    font-size: 28px;
    font-family: 'DINPro';
}
.about-content h6{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #718691;
    font-size: 25px;
}
.li-content {
    height: 40px;
    width: 320px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.li-content img{
    width: 10px;
    height: 10px;
    margin-right: 18px;
}
.li-content li{
    color: #718691;
    font-size: 25px;
}
.logos img{
    width: 100px;
}.logos img:last-child{margin-left: 20px;}

.footer-bot{
    border-radius: 15px;
    background-repeat: no-repeat;
    background: linear-gradient(90deg,#f8f8f8,#f8f8f8,#badffd);
    position: absolute;
    top: 1100px;
    padding: 35px 0px 0px 35px;
    width: 900px;
    height: 340px;
}
.footer-bot h1{
    color: #282828;
    font-size: 28px;
    font-family: 'DINPro';
}
.footer-flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.footer-flex ul:last-child{margin-left: 60px;}
.footer-flex img{
    margin-right: 15px;
    width: 10px;
}
.footer-flex li{
    height: 20px;
    margin-top: 35px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    color: #a6a6a6;
    font-size: 28px;
}
.position-img{
    position: absolute;
    top: -40px;
    right: -330px;
    height: 430px;
    width: 700px;
    overflow: hidden;
}
#modalWindow{
    transition: 0.5s;
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 80%;
    z-index: 50;
}
#modalContent{
    transition: 0.2s;
    top: -800px;
    position: fixed;
    width: 1000px;
    height: 430px;
    background-image: url(../img/modal.png);
    background-repeat: no-repeat;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 60;
    padding: 70px 20px 0px 550px;
}

#modalContent h1{
    color: #fff;
    font-size: 29px;
    font-family: 'DINPro';
}
#modalContent p{
    font-size: 22px;
    font-family: 'DINPro';
    color: #8fa0b4;
    margin-top: 20px;
}
.flex-modal{
    height: 100px;
    margin-top: 35px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.href-modal{
    padding: 10px 10px;
    background-color: #fff;
    color: #2200ff;
    font-size: 25px;
    border-radius: 35px;
    text-align: center;
}
.flex-modal2{
    height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    color: #5fbab3;
    font-size: 25px;
}.flex-modal2 img{height: 25px;margin: 5px 0px 0px 15px;}


}