@media only screen and (max-width: 1100px) {

	.containerr{
	width: 970px;
	margin: auto;
}
.container{
	width: 970px;
}

.menu-block{
	width: 140px;
}

.wrap{
	width: 140px;
	height: 35px;
}
.wrap h6{
	width: 140px;
}

.wrap-2{
	left: 140px;
}
.wrap-3{
	left: 280px;
}
.wrap-4{
	left: 420px;
}
.wrap-5{
	left: 560px;
}
.wrap-6{
	left: 700px;
}
.wrap-btn{
	margin-left: 840px;
}
.head img{
	left: 450px;
}
.fons{
	width: 100%;
	margin-top: -305px;
}
.lv{
	width: 480px;
	height: 340px;
}

.lv-fon{
	height: 340px;
}
.level-2{
	margin-top: 10px;
}
.level-2-1{
	width: 480px;
}
.lev{
	width: 480px;
	height: 240px;
}
.lev img{
	height: 240px;
	width: 480px;
	background-position: center;
	position: absolute;
}
.lev-2{
	width: 235px;
	height: 240px;
}
.lev2-img{
	position: absolute;
	width: 235px;
	height: 240px;
}


.href-content{
	margin-top: 360px;
}
.got-content{
	width: 483px;
}
.TFB{
	padding: 6px;
	height: 26px;
}

.href-content-2{
	margin-top: 930px;
}

.slider{
	height: 355px;
}
.slider-wrap{
	position: relative;
	height: 355px;
	width: 240px;
}

.creat-h2{
	margin-top: -150px;
}

.creaters{
	height: 140px;
	width: 90%;;
}
.creat{
	width: 100px;
	height: 100px;
	background-image: url(../img/автор1.jpg);
}
.creat-2{background-image: url(../img/автор2.jpg);}
.creat-3{background-image: url(../img/автор3.jpg);}
.creat-4{background-image: url(../img/автор4.jpg);}
.creat-5{background-image: url(../img/автор5.jpg);}



}
