@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-Regular.eot');
    src: url('PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Regular.woff') format('woff'),
        url('../fonts/PFDinTextCompPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
	font-family: 'PF Din Text Comp Pro';
}

.container{
	width: 1100px;
	height: 550px;
	margin: 0 auto;
}
.main-header{
	border-bottom: 2px solid #DADADA;
	height: 70px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.search input{
	margin-top: -3px;
	font-size: 17px;
	color: #5b5b5b;
	transition: 0.5s;
	width: 0px;
	border: none;}

.search img{cursor: pointer; margin-left: 3px;}
.search:hover input{width: 200px; margin-left: 10px;}
.search{
	transition: 1s;
	border-radius: 20px;
	padding: 5px 3px 3px 3px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 0.5px solid #5b5b5b;
}
.main-heading{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.main-heading a{margin: 0px 18px;}

.head img{
	padding: 0px 10px;
	background-color: #fff;
	top: -60px;
	left: 515px;
	position: absolute;
}
.head{text-align: center;
	position: relative;
	margin-bottom: 15px;}
.head h1{
	color: #5B5B5B;
	margin-top: 31px;
	font-size: 30px;
}
.main-menu{
	z-index: 50;
	width: 100%;
	height: 35px;
	background-color: #2F3032;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.menu-block{
	border-right: 1px solid #fff;
	width: 150px;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.menu-block:hover{
	background-color: #252628;
}

.menu-block a{
	text-decoration: none;
	color: #EFEFEF;
	font-size: 15px;
}


.head-menu{
	z-index: 50;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	position: relative;
	margin-top: 10px;
}

.wrap{
	position: absolute;
	transition: 0.5s;
	overflow: hidden;
	text-align: center;
	border: 1px solid #dedede;
	width: 150px;
	height: 35px;
}

.hover-wrap{
border-bottom: 1px solid #dedede;
height: 35px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: space-around;
-ms-align-items: center;
align-items: center;}
.wrap h5{
	cursor: pointer;
	margin-right: 10px;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	color: #5b5b5b;
}.wrap h5:hover{color: #000;}
.wrap img{cursor: pointer;}

.wrap h6{
	background-color: #fff;
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	width: 150px;
	height: 35px;}
.wrap a{
	text-decoration: none;
	font-size: 16px;
	color: #5b5b5b;
}.wrap a:hover{color: #000;}

.wrap-2{
	left: 150px;
}
.wrap-3{
	left: 300px;
}
.wrap-4{
	left: 450px;
}
.wrap-5{
	left: 600px;
}
.wrap-6{
	left: 785px;
}
.wrap:hover{height: 210px;}
.wrap-3:hover{height: 175px;}
.wrap-4:hover{height: 175px;}
.wrap-5:hover{height: 140px;}
.wrap-6:hover{height: 35px;}

.wrap-btn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-left: 950px;
	width: 150px;
	height: 35px;
	background-color: #c7b084;
}
.wrap-btn a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
.wrap-6 h4{
	display: none;
}
.wrap-6 img{display: none;}

.time-head{display: none;}
.main-btn{
	display: none;
}

.fons{
	width: 100%;
	margin-top: -305px;
}
.level-1{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.lv{
	position: relative;
	width: 540px;
	height: 390px;
}.lv:hover .hover-fon{opacity: 60%;}


.lv-fon{
	background-position: center;
	position: absolute;
	width: 100%;
	height: 390px;
	z-index: 1;
}
.lv h5{
	top: 40%;
	left: 44%;
	z-index: 3;
	position: absolute;
	font-size: 16px;
	color: #fff;
}
.lv h6{
	top: 45%;
	left: 20%;
	font-weight: bold;
	z-index: 3;
	position: absolute;
	font-size: 36px;
	color: #fff;
}
.lv h4{
	top: 55%;
	left: 41%;
	font-weight: bold;
	z-index: 3;
	position: absolute;
	font-size: 36px;
	color: #fff;
}
.lv h3{
	top: 45%;
	left: 27%;
	font-weight: bold;
	z-index: 3;
	position: absolute;
	font-size: 36px;
	color: #fff;
}

.lv-icon{
	top: 57%;
	left: 38%;
	width: 125px;
	height: 25px;
	position: absolute;
	z-index: 3;
}
.lv-icon-2{top: 67%;}
.hover-fon{
	transition: 0.5s;
	z-index: 2;
	opacity: 0%;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #233355;
}


.level-2{
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.level-2-1{
	width: 543px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.lev{
	position: relative;
	width: 540px;
	height: 270px;
}.lev:hover .hover-fon{opacity: 60%;}

.lev img{
	height: 270px;
	width: 540px;
	background-position: center;
	position: absolute;
}
.lev h3{
	font-family: 'PF Din Text Comp Pro';
	display: block;
	top: 16px;
	left: 13px;
	z-index: 3;
	position: absolute;
	background-color: #fff;
	padding: 6px 14px;
	color: #333333;
	font-size: 16px;
}

.lev-2 h3{
	width: 90%;
	display: block;
	top: 16px;
	left: 13px;
	z-index: 3;
	position: absolute;
	background-color: #fff;
	padding: 6px 14px;
	color: #333333;
	font-size: 16px;
}

.lev-2{
	position: relative;
	width: 265px;
}.lev-2:hover .hover-fon{opacity: 60%;}

.lev2-img{
	position: absolute;
	width: 265px;
	height: 270px;
}
.lev-2 h4{
	display: block;
	top: 42px;
	left: 13px;
	z-index: 3;
	position: absolute;
	background-color: #fff;
	padding: 6px 14px;
	color: #333333;
	font-size: 16px;
}.top-lev-text{margin-top: -22px;}
.cor{
	top: 10px;
	left: 13px;
	z-index: 3;
	position: absolute;
	background-color: #2F3032;
	width: 120px;
	height: 32px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.cor a{
	left: 40px;
	z-index: 3;
	position: absolute;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
.cor-img{
	top: -10px;
	left: -30px;
	position: absolute;
	display: block;
	z-index: 3;
	width: 19px;
	height: 19px;
}

.lv-3-img{width: 100px;}


.href-content{
	margin-top: 460px;
}
.line-img{
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #DADADA;
}
.line-img img{
	left: 47.2%;
	top: -28px;
	position: absolute;
	background-color: #fff;
	padding: 5px;
}
.href-content h2{
	margin-top: 45px;
	padding: 0;
	text-align: center;
	font-size: 30px;
	color: #5b5b5b;
	margin-bottom: 20px;
}
.function-href{
	border-radius: 20px;
	-ms-align-items: center;
	align-items: center;
	background-color: #f1f1f1;
	height: 35px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 410px;
}
.function-href a{
	transition: 0.4s;
	border-radius: 20px;
	padding: 8px 25px;
	font-size: 16px;
	text-decoration: none;
	color: #5b5b5b;
}.function-href a:hover{
	background-color: #2f3032;
	color: #fff;
}

.content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: -390px;
}
.content-2{margin-top: 10px;}
.content-3{margin-top: 10px;}
.content-4{margin-top: 10px;}
.content-5{margin-top: 10px;}

.got-content{
	justify-content: space-between;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 540px;
	height: 270px;
}


.fon-content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	background-image: url(../img/content/1.svg);
	background-position: center;
	height: 270px;
	width: 270px;
}
.fon-content-2{background-image: url(../img/content/2.png);}
.fon-content-3{background-image: url(../img/content/3.png);}
.fon-content-4{background-image: url(../img/content/4.png);}
.fon-content-5{background-image: url(../img/content/5.png);}
.fon-content-6{background-image: url(../img/content/6.png);}
.fon-content-7{background-image: url(../img/content/7.png);}
.fon-content-8{background-image: url(../img/content/8.png);}
.fon-content-9{background-image: url(../img/content/9.png);}
.fon-content-10{background-image: url(../img/content/10.png);}





.flex-fon-content{
	margin: 15px;
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 28px;
	width: 120px;
	justify-content: space-between;
}
.flex-fon-content a{
	align-items: flex-end;
	text-decoration: none;
	color: #f1f1f1;
	font-size: 16px;
}



.text-content{
	border: 1px solid #dfdcdc;
	width: 270px;
	height: 270px;
}

.text-content h3{
	margin-top: 7%;
	height: 70px;
	text-align: center;
	color: #3D3D3D;
	font-size: 23px;
}
.text-content-flex{
	padding-left: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 97%;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.TFB{
	border-radius: 12px;
	border: 1px solid #919191;
	padding: 8px;
	height: 26px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	justify-content: space-between;
	align-items: center;
}.TFB h6{
	margin-left: 5px;
	line-height: 26px;
	font-weight: bold;
	font-size: 14px;
	color: #d4c0a1;}

.text-content p{
	height: 112px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding-left: 5px;
	color: #777777;
	font-size: 16px;
}
.text-content-foot{
	padding-left: 5px;
	border-top: 1px solid #dfdcdc;
	border-bottom: 1px solid #dfdcdc;
	width: 100%;
	height: 42px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.text-left{
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	height: 42px;
}
.text-left h6{
	margin-left: 5px;
	line-height: 42px;
	font-size: 16px;
	color: #a3a3a3;
}
.text-right a{
	margin: 0px 5px;
}

.href-content-2{
	margin-top: 930px;
}

.slider{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: -420px;
	height: 425px;
}.slider a{text-decoration: none;}
.slider-wrap{
	position: relative;
	height: 425px;
	width: 268px;
	background-image: url(../img/гб1.png);
	background-color: cover;
	background-position: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: flex-end;
}
.slider-wrap-2{background-image: url(../img/гб2.png);}
.slider-wrap-3{background-image: url(../img/гб3.png);}
.slider-wrap-4{background-image: url(../img/гб4.png);}

.slider-wrap h6{
	margin-bottom: 40px;
	font-size: 28px;
	color: #FFFF;
}
.creat-h2{
	margin-top: -90px;
	padding: 0;
	text-align: center;
	font-size: 30px;
	color: #5b5b5b;
	margin-bottom: 20px;
}
.creaters{
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	height: 140px;
	width: 850px;
	-ms-align-items: center;
	align-items: center;
}
.creat{
	box-sizing: none;
	cursor: pointer;
	width: 120px;
	height: 120px;
	background-image: url(../img/автор1.jpg);
	background-size: cover;
	border-radius: 100%;
	box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
	transition: 0.3s;
}
.creat-2{background-image: url(../img/автор2.jpg);}
.creat-3{background-image: url(../img/автор3.jpg);}
.creat-4{background-image: url(../img/автор4.jpg);}
.creat-5{background-image: url(../img/автор5.jpg);}


.creat:hover{
	border: 5px solid #bea27d;
}
.creat-block h4{display: none;}

.last-section{
	position: relative;
	margin-top: -320px;
	background-color: #e8e8e8;
	width: 100%;
	height: 125px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.last-section h5{
	margin-top: -30px;
	margin-bottom: 15px;
	font-size: 16px;
	color: #6c6c6c;
}
.last-input{
	width: 350px;
	height: 30px;
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.last-input input{
	padding-left: 10px;
	font-size: 12px;
	width: 320px;
	height: 30px;
}
.last-mail{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 30px;
	height: 30px;
	-ms-align-items: center;
	align-items: center;
	align-items: space-between;
	justify-content: center;
	background-color: #2f3032;
}

footer{
	width: 100%;
	height: 60px;
	background-color: #252627;
}
.footer{
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.footer-left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-left a{
	color: #e8e8e8;
	font-size: 14px;
	text-decoration: none;
	margin: 12px;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100px;
	height: 60px;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
.footer-right img{
	width: 20px;
	height: 20px;
}

.containerr{
	width: 1100px;
	margin: auto;
}