body{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

font-family: 'Poppins', sans-serif;
}
.container{
	margin: 0 auto;
	max-width: 1170px;
}
.header-menu{
	background-color: #BA0000;
	width: 100%;
	height: 50px;
}
.header-menu a{color: #FFFFFF;}

.header-menu h1{
	float: left;
	display: inline-block;
	font-size: 14px;
}
.header-menu h2{
	float: right;
	color: #FFFFFF;
	font-size: 14px;
	display: inline-block;
	margin-left: 30px;
}
.menu {
	width: 100%;
	background-color: #FFCC00;
}
.main-menu{
	height: 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.menu-flex a{
	color: #BA0000;
	font-size: 14px;
	margin: 0px 22px;
	text-decoration: none;
	transition: 0.25s;
}
.menu-flex a:hover{
	font-size: 16px;
	padding-bottom: 45px;
	border-bottom: 4px solid #BA0000;
}
.under-main-menu{
	display: none;
	
}
.main-bg{
	background-image: url(../img/main-bg.png);
	height: 800px;
	background-repeat: no-repeat;
	background-position: center;
	background: cover;
}
.slider h1{
	margin-top: 0px;
	padding-top: 130px;
	color: #fff;
	font-size: 70px;
	margin-bottom: 37px;
}
.line{
	background-color: #FFCC00;
	height: 4px;
	width: 100px;
}
.slider h2{
	margin-top: 37px;
	line-height: 1.3;
	font-size: 20px;
	color: #FFCC00;
}
.slider h3{
	margin-top: 35px;
	margin-right: 26px;
	color: #fff;
	font-size: 20px;
	display: inline-block;
}
.toch{
	display: inline-block;
	background-color:  #FFCC00;
	width: 3px;
	height: 3px;
	margin-right: 26px;
}
.slider a{
	text-decoration: none;
	font-size: 12px;
}
.slider-btn-1 a{
	padding: 17px 35px;
	border-radius: 35px;
	background-color: #FFCC00;
	color: #BA0000;
	transition: 0.3s;
}
.slider-btn-1 a:hover{
	color: #fff;
	background-color: #BA0000;
	border: 3px solid #fff;
}
.slider-btn-2 a{
	padding: 14px 32px;
	border-radius: 35px;
	border: 3px solid #fff;
	color: #fff;
	transition: 0.3s;
}
.slider-btn-2 a:hover{
background-color: #FFCC00;
color: #BA0000;
padding: 17px 35px;
border: none;
}
.slider-btn-1{display: inline-block; margin-right: 20px; margin-top: 40px;}
.slider-btn-2{display: inline-block; margin-top: 40px;}


.services{
	margin-bottom: 90px;
	display: flex;
	justify-content: space-between;
}
.block{
	width: 270px;
}
.form{
	margin-right: 5px;
	background-color: #BA0000;
	width: 270px;
	display: inline-block;
}
.block h1{
	font-size: 20px;
	color: #BA0000;
}
.block h2{
	font-size: 16px;
	color: #777777;
}
.SERVICES-H1{
	margin: 90px 0px;
	color: #BA0000;
	font-size: 50px;
}

.form h1{
	margin: 23px 30px;
	color: #fff;
	font-size: 20px;
}
.line-2{
	margin-left: 30px;
	height: 2px;
	width: 70px;
	background-color: #FFCC00;
}
.form h2{
	margin-top: 24px;
	margin-left: 30px;
	color: #fff;
	font-size: 16px;
}
.form input{
	padding-top: 40px;
	margin-left: 30px;
	display: inline-block;
	background-color: #9D0000;
	height: 10px;
	width: 160px;
	border: none;
}
.form a{
	padding: 17px 0px;
	color: #BA0000;
	font-size: 12px;
	text-decoration: none;
}
.intupbtn{
	margin-left: -5px;
	display: inline-block;
}
.btn{
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 35px;
	text-align: center;
	width: 160px;
	background-color: #FFCC00;
	display: block;
}
.mini-form{display: none;}

.about{
	height: 700px;
	margin-top: -25px;
	background-image: url(../img/about-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
}
.about-2{
	text-align: center;	
}
.about-2 img{
	margin-bottom: 177px;
	width: 70px;
}
.about-2 h1{
	margin-top: -2px;
	margin-bottom: 42px;
	padding-top: 130px;
	font-size: 50px;
	color: #fff;
}
.about-3{
	justify-content: space-between;
	display: flex;
}
.blog{
	background-color: #FEFEFE;
	height: 410px;
	width: 370px;
}

.blog h1{
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #BA0000;
}
.text img{
	margin-left: 30px;
	display: inline-block;
	height: 20px;
} 
.text h2{
	margin: -10px 0px; 
	display: inline-block;
	color: #777777;
	font-size: 14px;
}

.main-input{
	width: 558px;
	height: 450px;
	background-color: #A30000;
	margin-top: -10px;
}
.Express-a{
	color: #fff;
	text-decoration: none;
}
.LOGISTICS{
	text-decoration: none;
	color: #BA0000;
}
.Express-1 h1{
	display: inline-block;
	font-size: 14px;
	background-color:  #BA0000;
	text-align: center;
	width: 277px;
	padding: 15px 0px; 
}
.Express-1 h2{
	padding: 15px 0px; 
	text-align: center;
	width: 277px;
	display: inline-block;
	background-color: #FFCC00;
	font-size: 14px;
}
.main-input{
	padding-top: 30px; 
}
.unputs{
	position: relative;
}
.ex-input{
	background-color:  #FFCC00;
}

.unputs input{
	background-color:  #BA0000;
	margin: 10px 0px;
	padding: 17px 170px;
	margin-left: 40px;	
	border: 2px solid #fff;
}
.unputs img{
	border: 2px solid #fff;
	position: relative;
	position: absolute;
	margin-left: -50px;
	bottom: 10px;
	width: 50px;
	height: 50px;
}
.main-input h3{
	margin-bottom: 5px;
	margin-left: 40px;
	color: #fff;
	font-size: 16px;
}
.main-input h4{
	margin: 4px 0px 3px 65px; 
	color: #fff;
	font-size: 16px;
}
.input-img{
	position: relative;
}
.input-img img{
	position: absolute;
	margin-left: -30px;
	margin-top: -3px;
	display: inline-block;
}
.Express{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 300px;
}
.Express-1{
	margin-top: -12px;
}
.red{
	width: 100%;
	height: 350px;
	background-color: #BA0000;
	margin-top: 90px;
}
.red-section{
	color: #fff;
}
.red-section h1{
	padding-top: 90px; 
	font-size: 30px;
}
.red-section h2{
	margin: 0;
	display: inline-block;
	font-size: 16px;
}
.width-section{
	width: 740px;
}
.red-section a{
	margin-top: -10%;
	color: #fff;
	font-size: 12px;
	padding: 17px 34px;
	background-color: #A00000;
	border-radius: 25px;
	text-decoration: none;
	float: right;
}
.client{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.client img{
	width: 100%;
	margin: 70px 0px;
}
.client img:hover{
	border: 2px solid red;
}
/*
.main-footer{
	margin: 0 auto;
	width: 1090px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.last-container{
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 1920px;
}
.footer-h1{
	text-decoration: none;
	font-size: 20px;
	color: #BA0000;
	margin: 0;
	padding: 0;
}
.footer-h2{
	text-decoration: none;
	font-size: 14px;
	color: #FFCC00;
	margin: -5px 0px;
	padding: -5px 0px;
}
.footer-h3{
	text-decoration: none;
	font-size: 14px;
	color: #777777;
	margin: -5px 0px;
	padding: -5px 0px;
}*/


@media screen and (max-width: 1170px){
	.container{width: 970px;}
	.menu-flex a{color: #BA0000;font-size: 14px;margin: 0px 13px;text-decoration: none;transition: 0.25s;}
    .slider h1{font-size: 50px;}
    .block{width: 225px;}
    .block-img{width: 225px;}
    .form{width: 225px;}
    .form h2{margin-left: 20px;}
    .form h2{margin-left: 20px;}
    .form input{width: 140px;margin-left: 20px;}
    .line-2{margin-left: 20px;}
    .blog{width: 290px;}
    .blog-img{width: 290px;}
    .blog h1{margin-left: 15px;}
	.text img{margin-left: 15px;} 
	.about-2 h1{font-size: 40px;}
	.about-2 img{margin-bottom: 234px;}
.Express-a{color: #fff;text-decoration: none;}
.LOGISTICS{text-decoration: none;color: #BA0000;}
.Express-1 h1{display: inline-block;font-size: 14px;background-color:  #BA0000;text-align: center;width: 218px;padding: 15px 0px; }
.Express-1 h2{padding: 15px 0px; text-align: center;width: 218px;display: inline-block;background-color: #FFCC00;font-size: 14px;}
.main-input{padding-top: 30px;width: 439px; }
.unputs{position: relative;}
.unputs input{margin: 10px 0px;padding: 17px 110px;margin-left: 40px;}
.unputs img{border: 2px solid #fff;position: relative;position: absolute;margin-left: -50px;bottom: 10px;width: 50px;height: 50px;}
.main-input h3{margin-bottom: 5px;margin-left: 40px;color: #fff;font-size: 16px;}
.main-input h4{margin: 4px 0px 3px 65px; color: #fff;font-size: 16px;}
.input-img{position: relative;}
.input-img img{position: absolute;margin-left: -30px;margin-top: -3px;display: inline-block;}
.Express{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;justify-content: space-between;margin-top: 300px;}
.Express-1{margin-top: -12px;}

}



@media screen and (max-width: 970px){
	.container{width: 750px;}
	.menu-flex a{color: #BA0000;font-size: 12px;margin: 0px 10px;text-decoration: none;transition: 0.25s;}
	.menu-flex a:hover{font-size: 13px;padding-bottom: 45px;border-bottom: 4px solid #BA0000;}
	.block{width: 170px;}
    .block h1{font-size: 15px;}
    .block h2{font-size: 12px;}
    .img-read{width: 70px;} 
    .block-img{width: 170px;}
    .form{width: 170px;}
    .line-2{width: 135px;}
    .form h1{margin-left: 20px; font-size: 15px;}
    .form h2{margin-left: 20px; font-size: 12px; padding-right: 10px;}
    .form input{width: 100px;margin-left: 20px; padding-top: 25px;}
    .line-2{margin-left: 20px;}
    .form img{margin-top: -15px;width: 35px;height: 35px;display: inline-block;}
	.btn{margin-top: 20px;margin-left: 20px;border-radius: 35px;width: 135px;}
	.form a{padding: 13px 0px;font-size: 10px;}
    .blog{width: 230px;}
    .blog-img{width: 230px;}
    .text h2{font-size: 12px;}
    .blog h1{margin-left: 15px;}
	.text img{margin-left: 15px;} 
	.about-2 h1{font-size: 30px;}
	.about-2 img{margin-bottom: 280px;}
	.Express-a{color: #fff;text-decoration: none;}
	.LOGISTICS{text-decoration: none;color: #BA0000;}
	.Express-1 h1{display: inline-block;font-size: 14px;background-color:  #BA0000;text-align: center;width: 173px;padding: 13px 0px; }
	.Express-1 h2{padding: 13px 0px; text-align: center;width: 173px;display: inline-block;background-color: #FFCC00;font-size: 14px;}
	.main-input{padding-top: 10px;width: 350px;height: 380px; }
	.unputs input{margin: 10px 0px;padding: 14px 75px;margin-left: 30px;	}
	.unputs img{position: relative;position: absolute;margin-left: -50px;bottom: 10px;width: 44px;height: 44px;}
	.main-input h3{margin-bottom: 5px;margin-left: 43px;color: #fff;font-size: 14px;}
	.main-input h4{margin: 4px 0px 3px 65px; color: #fff;font-size: 14px;}
	.input-img{position: relative;}
	.input-img img{position: absolute;margin-left: -40px;margin-top: -3px;display: inline-block;}
	.Express{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;justify-content: space-between;margin-top: 300px;}
	.Express-1{margin-top: -12px;}
	.Express-2 img{width: 350px;}
	.red{width: 100%;height: 350px;background-color: #BA0000;margin-top: 90px;}
	.red-section{color: #fff;}
	.red-section h1{padding-top: 90px; font-size: 30px;}
	.red-section h2{margin: 0;display: inline-block;font-size: 16px;}
	.width-section{width: 500px;}
	.red-section a{margin-top: -15%;}

}


@media screen and (max-width: 750px){
	.container{width: 510px;}
	.menu-flex{display: none;}
	.main-menu{justify-content: space-around;display: flex;}
	.under-main-menu{text-align: center;display: block;}
	.bg{background-image: url(../img/bg.png);height: 120px;}
	.under-main-menu a{margin-left: 40px;height: 100%;display: flex;align-items: flex-start;font-size: 12px;flex-flow: column-reverse;color: #FFCC00;text-decoration: none;transition: 0.3s;padding-right: 20px;}
	.under-main-menu a:hover{display: block;font-size: 13px;padding: 3px 0px;border-bottom: 1.5px solid #BA0000;border-top: 1.5px solid #BA0000;}
	.main-menu{height: 100px;}
	.slider h1{text-align: center;font-weight: bold;margin-top: 0px;font-size: 40px;}
    .line{background-color: #FFCC00;height: 4px;width: 100%;text-align: center;}
    br{display: none;}
	.slider{text-align: center;}
	.SERVICES-H1{text-align: center;margin: 50px 0px; font-size: 37px;}
	.block{width: 155px; text-align: center;}
	.block h1{font-size: 13px;}
	.block h2{font-size: 10px;}
	.block-img{width: 155px;}
	.form{display: none;}
	.services{margin-bottom: 0px;}
	.mini-form{text-align: center;border-radius: 40px;display: block;background-color: #BA0000;margin: 0 auto;width: 100%;height: 90px; margin-bottom: 40px;}
	.mini-form h1{margin-bottom: 0px;color: #fff;font-size: 15px;}
	.line-3{margin: 0 auto;width: 90%;height: 2px;background-color: #FFCC00;}
	.mini-form h2{margin-bottom: 0px;margin-top: 0px;color: #fff;font-size: 12px;}
	.input {margin-top: 5px;justify-content: center;display: flex;}
	.input input{;margin-top: -1px;height: 26px;}.input img{margin-top: 0px;height: 30px;}
	.input a{text-decoration: none;color: #BA0000;}
	.input h5{border-left: 3px solid #BA0000;border-top-right-radius: 8px;border-bottom-right-radius: 8px;background-color: #FFCC00;padding-top: 2.5px;padding-bottom: 8.5px;padding-right: 12px;padding-left: 12px; margin-top: -1px;}
	.about-3{display: inline-block;}
	.blog{margin: 0px 10px;display: inline-block;}
	.about-2 img{margin-bottom: 236px;}
	.about-2 h1{font-size: 30px;}
	.blog-3{display: inline-block;width: 460px;position: relative;height: 200px;}
	.blog-3 .blog-img{position: absolute;}
	.blog-3 h1{margin-top: -40px;margin-left: 35%;}
	.blog-3 .text{display: block;margin-left: 50%;}
	.about-2 img{margin-bottom: 170px;}
	.about{height: 450px;}
	.about-2 h1{margin-top: 70px;font-size: 32px;}
	.Express-a{color: #fff;text-decoration: none;}
	.LOGISTICS{text-decoration: none;color: #BA0000;}
	.Express-1 h1{display: inline-block;font-size: 14px;background-color:  #BA0000;text-align: center;width: 173px;padding: 13px 0px; }
	.Express-1 h2{padding: 13px 0px; text-align: center;width: 173px;display: inline-block;background-color: #FFCC00;font-size: 14px;}
	.main-input{padding-top: 10px;width: 350px;height: 380px; }
	.unputs input{margin: 10px 0px;padding: 14px 75px;margin-left: 30px;}
	.unputs img{border: 2px solid #fff;position: relative;position: absolute;margin-left: -50px;bottom: 10px;width: 44px;height: 44px;}
	.main-input h3{margin-bottom: 5px;margin-left: 43px;color: #fff;font-size: 14px;}
	.main-input h4{margin: 4px 0px 3px 65px; color: #fff;font-size: 14px;}
	.input-img{position: relative;}
	.input-img img{position: absolute;margin-left: -40px;margin-top: -3px;display: inline-block;}
	.Express{margin-left: 15%;display: block;margin-top: 700px;}
	.Express-1{display: block;margin-top: -12px;}
	.Express-2 img{margin-top: 20px;width: 350px;}
	.red{width: 100%;height: 350px;background-color: #BA0000;margin-top: 90px;}
	.red-section{color: #fff;}
	.red-section h1{text-align: center;padding-top: 60px; font-size: 24px;}
	.red-section h2{padding-bottom: 30px;margin: 0;display: inline-block;font-size: 16px;}
	.width-section{text-align: center;width: 500px;}
	.red-section a{margin-left: 37%;float: none;}

}



@media screen and (max-width: 510px){
	.container{width: 350px;}
	.header-menu h2{font-size: 12px;}
	.main-menu{height: 100px;}
	.line{width: 100%;text-align: center;}
    br{display: none;}
    .slider h3{margin-right: 5px;font-size: 17px;display: inline-block;}
    .toch{margin:0px 5px;}
    .slider-btn-1{display: block;margin-right: 0;}
    .block{text-align: center;width: 270px;}
    .services{-ms-align-items: center;align-items: center;display: flex;flex-flow: column-reverse;}
    .about-3{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;flex-direction: column;justify-content: center;}
    .blog{margin-left: 18%;display: block;}
	.blog-3{display: block;width: 350px;position: relative;}
	.blog-3 .blog-img{position: absolute;}
	.blog-3 h1{margin-left: 6%;margin-top: 140px;}
	.blog-3 .text{display: block;margin-left: 0%;}
	.about-2 img{margin-bottom: 120px;}
	.about{height: 350px;}
	.about-2 h1{margin-top: 70px;font-size: 22px;}
	.Express{margin-left: 0%;margin-top: 1230px;}
	.Express-1{margin-top: -12px;}
	.Express-2 img{margin-top: 20px;}
	.red{height: 320px; margin-bottom: 20px;}
	.red-section h1{font-size: 18px;}
	.red-section h2{font-size: 12px;}
	.width-section{width: 350px;}
	.red-section a{margin-left: 32%; }
	.client{display: flex;justify-content: space-between;flex-wrap: wrap;}
	.client img{width: 150px;margin: 0px 0px;margin-bottom: 20px;}
	.Express-1 h2{padding: 13px 0px; text-align: center;width: 172px;display: inline-block;background-color: #FFCC00;font-size: 14px;}
	.main-input{height: 400px;}

}