/* font-family: 'Montserrat', sans-serif; */
@font-face {
    font-family: 'Montserrat-g';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.ttf') format('truetype'),
        url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-b';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.ttf') format('truetype'),
        url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
body{
	box-sizing: border-box;
}
header {
background: url(../img/банеер.png) no-repeat  center top/ cover;
height: 1000px;
}
.container {
	width: 1200px;
}
.header h1{
	float: left;
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	margin-top: 21px;
} 
.menu li{
	float: right;
	display: inline-block;
	margin: 36px 55px 0px 0px;
}
.menu a{
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.2s;
}
.menu a:hover{
color: #FCE38A;
content: "";
border-bottom: 3px solid #FCE38A; 
}
.menu img{
	margin-top: 36px;
	float: right;
}
.last{
	margin-left: 42px;
}
.title h1{
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	margin-top: 211px;
	text-align: center;
	color: white;
}
.title h2{
	font-size: 150px;
	font-weight: bold;
	text-align: center;
	color: white;
	display: block;
}
.title p{
	text-align: center;
	margin-top: 88px;	
}
.title a{
	font-size: 14px;
	font-weight: bold;
	color: white;
	border: 3px solid #fff;
	padding: 12px 30px;
	text-decoration: none;
	transition: 0.2s;
}
.title a:hover{
	color:#FCE38A;
	border: 5px solid #FCE38A;
	padding: 12px 30px;
}

.panel-1{text-align: center;width: 280px;height: 50px;display: inline-block;border-top: 3px solid #fff;margin-top: 157px;margin-right: 5.5px;}
.panel-1 h2{font-size: 18px; color: #fff; float: left; line-height: 50px;} 
.panel-1 h1{font-size: 22px; font-weight: bold; color: #fff; float: left; line-height: 50px; margin-right: 3px;}
.panel-2 h2{font-size: 18px; color: #fff; float: left; line-height: 48px;} 
.panel-2 h1{font-size: 22px; font-weight: bold; color: #fff; float: left; line-height: 48px; margin-right: 3px;}
.panel-3 h2{font-size: 18px; color: #fff; float: left; line-height: 48px;} 
.panel-3 h1{font-size: 22px; font-weight: bold; color: #fff; float: left; line-height: 48px; margin-right: 3px;}

.panel-2 {text-align: center;width: 280px;display: inline-block;border-top: 3px solid #fff;margin-top: 157px;margin: 0px 9px;}
.panel-3{text-align: center; width: 280px; display: inline-block; border-top: 3px solid #fff; margin-top: 157px; margin-left: 5.5px;}

.read {
	width: 960px;
	margin: 0 auto;
}
.read h1{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333333;
	margin-top: 85px;
}
.read h2 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #333333
	margin-top:10px;
}
.line {
	background-color: #F38181;
	height: 3px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 33px;
	margin-bottom: 42px;
}
.read h3{
	font-size: 15px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #999999;
	margin-bottom: 90px;
}
.look{
	text-align: center;
	margin-bottom: 110px;
}
.look img{
	text-align: center;
	display: inline-block;
	width: 380px;
	height: 250px;
	margin: 0px -3px;
}
.mar-img{
	display: inline-block;
	margin: 0px 15px;
}
.big-container {
	background-color: #95E1D3;
	width: 100%;
	height: 260px;
}
.panel-line{
	text-align: center;
    background-color:  #95E1D3; 
}
.one{
	height: 260px;
	width: 236px;
	display: inline-block;
	margin: 0px -3px;
	text-align: center;
	color: white;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.one h1{
	margin-top: 70px;
	font-size: 72px;
	font-weight: bold;
	margin-bottom: 8px;
}
.one h2{
	font-size: 14px;
	padding-bottom: 80px;
}
.name h1{
	margin-top: 100px;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	font-size: 24px;
	color: #333333;
}
.name h2{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.line-2 {
	background-color: #F38181;
	height: 3px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 60px;
}
.ex-container{
	width: 1145px;
	margin: 0 auto;
}
.design {
	background: url(../img/feauture.png) no-repeat  center/ cover;
    height: 850px;
    width: 100%;
}
.line-3 {
	background-color: #F38181;
	height: 3px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 20px;
}

.first-line{
text-align: center;
}
.block-all{
	position: relative;
	display: inline-block;
	width: 385px;
	border: 2px solid red;
}
.block-all h2{
	font-family: 'Montserrat-g';
	color: #333333;
	float: left;
	font-size: 14px;
	font-weight: bold;
}
.block-all h3{
	color: #999999;
	float: left;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
.block-all img{
	display: inline;
	float: left;
}
.text-pos h2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 14px;
	color: #333333;
	margin-bottom: 15px;
}
.text-pos h3{
	font-size: 15px;
	color: #999999;
}
.img-win{
text-align: center;
}
.long-line{
	width: 1200px;
	height: 1px;
	background-color: #E5E5E5;
	margin: 45px 0px;
}
.time-pos{
	margin-bottom: 120px;
}

.phons h1{
	margin-top: 104px;
	margin-bottom: 9px;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	text-align: center;
	color: #333333;
}
.phons h2{
	margin-bottom: 35px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #333333;
}
.window{
position: relative;
text-align: center;
z-index: 1;
}
.window-2{
bottom: -5.5%;
left: 60%;
position: absolute;
text-align: center;
z-index: 2;
}
.window-3{
	left: 50%;
	bottom: 1%;
	position: absolute;
	z-index: 3;
}
.text h1 {
	margin-top: 150px;
}



.service{
	text-align: center;
}
.service h1{
	margin-bottom: 8px;
	margin-top: 104px;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: #333333;
}
.service h2{
	font-size: 30px;
	font-weight: bold;
	color: #333333;
}
.line-4{
	background-color: #F38181;
	height: 3px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 83px;
}
.service h3{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: #999999;
	margin-bottom: 88px;
}
.reading-1{
float: left;
}
.reading-2{
float: right;
}
.read-service img{
margin-bottom: 120px;
}




.lorem{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
.lorem h1{
	margin-top: 95px;
	color: #333333;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
}
.lorem h2{
	font-size: 30px;
	font-weight: bold;
}
.line-5{
	background-color: #F38181;
	height: 3px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 45px;
}
.lorem h3{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: #999999;
	margin-bottom: 87px;
}
.Rectangle {
	text-align: center;
}
.team-peoples{
	display: inline-block;
}
.team-peoples-ex{
	margin: 0px 10px;
}
.Rectangle h2{
	margin-top: 27px;
	margin-bottom: 7px;
	font-size: 14px;
	color: #333333;
}
.Rectangle h3{
   font-family: 'Roboto', sans-serif;
   color: #999999;
   font-size: 13px;
   margin-bottom: 110px;
}
.logos{
	background-color: #F8F8F8;
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.logos img{
	text-align: center;
}
.pic{
	text-align: center;
}
.pic img{
	margin-bottom: 100px;
}
.quote {
	display: flex;
	width: 1040px;
	margin: 0 auto;
}
.SPEECH{
	border: 3px solid #95E1D3;
	padding: 43px 45px;
	display: inline-block;
	margin-right: 60px;
}
.quote h2{
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	color: #999999;
}
.quote h3{
	margin-top: -15px;
	margin-left: 90px;
	color: #333333;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
}
.quote-line{
	margin-top: 32px;
	background-color: #F38181;
	height: 3px;
	width: 60px;
}
.Ellipse{
	width: 210px;
	height: 210px;
	display: inline-block;
	margin-right: 60px;
	margin-bottom: 120px;
}
.WAS{
	background: url(../img/Rectangle.png)no-repeat  center top/ cover;
	height: 830px;
}
.WAS-text{
	justify-content: center;
	display: flex;
}
.was-all {
	margin: 15px 35px 0px 35px;
	display: flex;
	display: inline-block;
	width: 530px;
	height: 169px;
}
.was-all h2{
	color: #333333;
	font-size: 14px;
}
.was-all h3{
	margin-top: 7px;
	color: #333333;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.was-all h4{
	color: #999999;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.last-line {
	background-color: #F38181;
	height: 3px;
	width: 60px;
	margin: 17px 0px 24px 0px;
}
.was-1{display: flex;}
.was-2{display: flex;}
.was-3{display: flex;}
.was-4{display: flex;}

.was-all img{
width: 110px;
height: 110px;
margin-right: 30px;
}


.all-blog{
	display: inline-block;
}
.all-blog h2{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 14px;
	color: #333333;
}
.all-blog h3{
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #999999;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
.shape{
	background-color: #E5E5E5;
	height: 1px;
	width: 100%;
	margin-bottom: 15px;
}
.youtube{
	text-align: center;
	height: 30px;
	display: inline-block;
}
.youtube img{
	display: inline-block;
}
.youtube h2{
	margin-right: 20px;
	font-size: 15px;
	color: #999999;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}
.youtube h3{
	display: inline-block;
	font-size: 15px;
	color: #999999;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}
.iframe{
	margin-top: 116px;
	margin-bottom: 62px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
.footer-1{
	margin-top: px;
	margin-left: 13px;
	width: 460px;
}

.footer-1 h1{
float: left;
font-size: 46px;
font-weight: bold;
color: #CCCCCC;
margin-bottom: 30px;
}
.footer-1 h2{
	float: left;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.footer-1 h3{
	float: left;
	color: #333333;
	font-size: 14px;
	margin-bottom: 15px;
	margin-top: 45px;
}
.footer-1 strong{
	font-size: 18px;
}
.after-shape{
	float: left;
	background-color: #E5E5E5;
	height: 1px;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 3px;
}
.SMM h4{
	float: left;
	font-size: 15px;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-right: 13px;
}
.SMM img{
	float: left;
	margin: 0px 7.5px;
}
.input{
	border-color: #E7E7E7;
	height: 44px;
	width: 230px;
	margin-top: 38px;
	float: left;
}
.mail h5{
	margin-top: 38px;
	background-color: #95E1D3;
	padding: 14px 33px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.footer-2{
	display: inline-block;
	margin-top: -60px;
	margin-bottom: 20px;
}
.fut-1{
	margin-left: 15px;
	margin-bottom: 15px;
	margin-left: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 335px;
	height: 95px;
}
.footer-2 h2{
	font-size: 14px;
	color: #333333;
	margin-left: 52px;
	margin-bottom: 15px;
}
.fut-1 img{
	height: 80px;
	width: 120px;
	display: inline-block;
	flex-flow: column;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
}
.fut-1 p{
	margin-top: 17%;
	font-size: 12px; 
	color: #333333;
}
.fut-1 h3{
	color: #999999;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}
.footer-3{
	width: 270px;
	margin-left: 50px;
	display: inline-block;
}
.footer-3 h2{
font-size: 14px;
color: #333333;
margin-bottom: 32px;
}
.instagram img{
	margin: -2px -1px;
}
.footer-3 h3{
	margin-top: 16px;
	color: #333333;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}
.git-line{
	margin-top: 45px;
	margin-bottom: 21px;
width: 100%;
background-color: #E5E5E5;
height: 1px;
}
.last h1{
	text-align: center;
	margin: 20px;
}
