@media only screen and (max-width: 750px){
	.container{
		width: 100%;
	}
.header{
	text-align: center;
	padding-top: 10px;
	display: block;
	height: 60px;
}

.menu{
	display: none;
}

.banner-left{
	margin: 0 auto;
	width: 530px;
}

header{
	margin-left: 0px;
	padding-left: 0px;
	text-align: center;
}
.banner{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	height: 650px;
	padding-left: 0px;
}
.mail{
	display: block;
}
.banner input{display: block;margin: 0 auto; margin-bottom: 30px;}
.banner a{margin-left: 0px;}


.banner-left h1{
	padding-top: 90px;
	font-size: 42px;
}

/*Адаптивная кнопка меню*/
.menu-btn{display: inline-block;}

#sidebar{
	border-bottom-right-radius: 20px;  
	border-bottom: 12px solid #9AC1DC;
	border-right: 12px solid #9AC1DC;  
	top: 70px;
	transition: 0.3s;
	left: -200px;
	position: absolute;
	width: 200px;
	height: 320px;
	background-color: #54A3DA;
}
#sidebar h1{
	padding-top: 10px;
	font-size: 40px;
	font-weight: 600;
	color: #2D394C;
}
#sidebar.active{
	left: 0px;

}

#sidebar ul li{
	width: 100%;
	font-size: 22px;
	display: block;
	padding: 15px 10px;
}

#sidebar a{
	transition: 0.3s;
	text-decoration: none;
	color: #2D394C;
}
#sidebar a:hover{
	padding: 0px 35px;
	border-top: 3px solid #9AC1DC;
	border-bottom: 3px solid #9AC1DC;
	color: #fff;
}
#sidebar .toggle-btn{
	transition: 0.3s;
	border-radius: 16px;
	position: absolute;
	left: 200px;
	top: 20px;
	padding: 10px;
	margin: -5px 0px 0px 0px;
	background-color: #2D394C;
	cursor: pointer;
}
.toggle-btn:hover{
	transform: rotate(90deg);
}
#sidebar .toggle-btn span{
	display: block;
	background-color: #fff;
	width: 30px;
	height: 4px;
	margin: 5px 0px;
}
#sidebar .toggle-btn:hover{background-color: black;}
#sidebar .toggle-btn:hover span{background-color: #fff;}

.company{
	width: 100%;
	height: 700px;
	background-color: #F8F8F8;
}
.company{
	width: 100%;
	height: 150px;
	background-color: #F8F8F8;
}
.company-logo{
	height: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.company-logo img{
	padding: 5px;
}
.help-block{display: none;}

.maps-h1{
	margin: 90px 0px;
	text-align: center;
	font-size: 30px;
}
.maps{display: block;text-align: center;}
.left-text{
	width: 500px;
	margin: 0 auto;
}
.right-map{
	margin: 0 auto;
	position: relative;
	width: 530px;
}
.text{
	position: none;
}
.text img{display: block;}
.text h2{
	display: block;
	top: 15px;
	text-align: center;
	position: static;
	font-size: 18px;
	color: #2D394C;
}
.text-h2{
	-ms-align-items: center;
	align-items: center;
	height: 50px;
	justify-content: space-around;
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.text h3{
	padding: 8px;
	transition: 0.4s;
	margin-top: 15px;
	margin-bottom: 34px;
	font-family: open sans;
	font-size: 14px;
	color: #9499A2;
}
.text h3:hover{
	padding: 8px;
	border-radius: 30px;
	height: 100px;
	background-color: #64A4D7;
	color: #fff;
}
.right-map-img{
	text-align: center;
	margin-top: 150px;
	width: 520px;
	position: top;
}
.right-map iframe{
	height: 240px;
	width: 390px;
	margin: 0 auto;
	text-align: center;
	left: 14%;
	top: 300px;
	position: absolute;
}

.google-maps-icon{
	display: block;
	transition: 0.3s;
	margin-left: 20%;
	position: absolute;
	top: 0px;
	width: 300px;
}

.bg-block{
	margin-top: 40px;
	width: 100%;
	height: 600px;
	background-color: #F1F1F2;
}
.slider h1{
	margin-bottom: 110px;
	padding-top: 110px;
	text-align: center;
	font-size: 36px;
	color: #2D394C;
}
.left-slid{;
	width: 90%;
}
.flex-left{
	justify-content: center;
}
.left-slid h2{
	color: #2D394C;
	font-size: 28px;
}
.left-slid h3{
	margin-top: 35px;
	font-size: 16px;
	color: #5A626E;
	font-family: Open Sans;
}
.flex-slid{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.form{
	text-align: center;
	margin: 0 auto;
	width: 530px;
}
.form h1{
	margin-top: 90px;
	margin-bottom: 70px;
	font-size: 36px;
}
.form h2{
	margin-bottom: 60px;
	font-size: 22px;
}
.mail-2 input{
	border-radius: 6px;
	width: 330px;
	height: 55px;
	border: 1px solid #5A626E;
}
.mail-2 a{
	padding: 16px 46px;
	font-size: 20px;
}
 .footer{
 	margin-top: 60px;
 	height: 340px;
 	display: block;
 	text-align: center;
 }
 .fotter-menu{
 margin-left: 9%;
 justify-content: space-around;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;}
  .fotter-menu a{
  	display: inline-block;
  	text-decoration: none;
  	font-size: 14px;
  	margin: 0px 0px;
  }
  .fotter-menu img{
  	display: none;
  }
    .fotter-menu h5{
    	margin-top: 10px;
    }
.block-img{
	margin-top: 20px;
	display: block;
}
.block-img img{
	margin: 0px 10px;
	width: 40px;
}

}