@media only screen and (max-width: 970px){
	.container{
		width: 750px;
	}

header{
	background-position: top;
	background-image: url(../img/Vector Smart Object copy.png);
	background-size: cover;
	width: 100%;
	background-color: #54A3DA;
	height: 650px;
}
.banner{
	width: 100%;
	background: none;
	margin: 0 auto;
	height: 650px;
	padding-left: 100px;
}
.help-block{
	width: 100%;
	top: 760px;
	position: absolute;
	height: 80px;
	background-color: #54A3DA;
}
.maps-h1{margin-top: 70px;margin-bottom: 70px;}
.text img{display: inline-block;width: 47px;}
.text h2{top: 15px;font-size: 17px;}
.text h3{margin-top: 7px;margin-bottom: 16px;font-size: 12px;}
.right-map-img{
	margin-top: 0px;
	padding-top: 110px;
	width: 100%;
	position: top;
}
.right-map iframe{
	height: 210px;
	width: 340px;
	left: 65px;
	top: 295px;
	position: absolute;
}
.google-maps-icon{
	display: block;
	transition: 0.3s;
	margin-left: 17%;
	position: absolute;
	top: -110px;
	width: 300px;
}
.google-maps-icon:hover{
	transform: rotate(10deg);
}
.dn750{display: none;}

.form{
	text-align: center;
	margin: 0 auto;
	width: 740px;
}
.form h1{
	margin-top: 90px;
	margin-bottom: 70px;
	text-align: center;
	font-size: 40px;
	color: #5A626E;
}
.form h2{
	margin-bottom: 60px;
	color: #5A626E;
	font-size: 22px;
	font-style: italic;
}
.mail-2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;justify-content: space-between;
}
.mail-2 input{
	border-radius: 6px;
	width: 500px;
	height: 68px;
	border: 1px solid #5A626E;
}



}
 .footer{
 	margin-top: 60px;
 	height: 140px;
 	-ms-align-items: center;
 	align-items: center;
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	justify-content: space-between;
 }
 .fotter-menu{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;}
  .fotter-menu a{
  	text-decoration: none;
  	font-size: 14px;
  	color: #4D5664;
  	margin: 0px 10px;
  }
  .fotter-menu img{
  	width: 35px;
  }
    .fotter-menu h5{
    	margin-top: 10px;
    }


}